.App {
  text-align: center;
}

.history {
  width: 450px;
  margin: auto;
}

.unitTransaction {
  display: flex;
  justify-content: space-around;
  height: 50px;
  background: #fff;
  border-radius: 5px;
  margin: 10px auto;
  border: 1px solid #000;
}

.addTransaction {
  width: 450px;
  margin: auto;
}

.Transaction-form {
  display: block;
}

input {
  border-radius: 5px;
  padding: 10px 100px;
  margin: 5px auto;
}

.submitBtn {
  padding: 5px 160px;
  background: rgb(12, 81, 138);
  color: #fff;
  margin-top: 5px;
}

.deleteBtn {
  padding: 0 15px;
  background: red;
  color: #fff;
  margin-top: 5px;
  border-radius: 4px;
  margin-left: 200px;
}
